/*Sidebar*/
$sidebar-width:260px;
$sidebar-background:rgba(0,0,0,0.6);

$border-default:1px solid $brand-primary;

$border-thick:2px solid $brand-primary;

$link-color:#FFFFFF;
$link-color-hover:$brand-primary;
