/*Sidebar*/
$sidebar-width:260px;

$sidebar-background:#161616;

$main-text-color:#CFCFCF;

$border-default:1px solid darken($brand-primary,15%);

$border-thick:2px solid $brand-primary;


$banner-background-color:#444444;

$link-color:#FFFFFF;

$link-color-hover:$brand-primary;
