// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// Example usage:

.advertisment {
    font-size: 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0.5rem 0 2rem;
    margin:1rem 0;

    p{
        font-size: 12px;
        align-self: flex-end;
        margin-right:1rem;
    }
    &.background-frame {
        background:rgba(100,100,100,0.25);
    }

}



.banner {
    display:flex;
    width:320px;
    height:50px;
    background:$banner-background-color;
    justify-content: center;
    align-items: center;
}

.mpu {
    width:300px;
    height:250px;
    &:before{
        content:"300x250";
        font-size: 12px;
        display:inline-block;
        color:darken($main-text-color,20%);
    }
}
.leaderboard {

    &:before{
        content:"320x50";
        font-size: 12px;
        display:inline-block;
        color:darken($main-text-color,20%);
    }
}

@include media-breakpoint-up(md) {
    .leaderboard {
        width:728px;
        height:90px;
        &:before{
            content:"728x90";
        }
    }
}

@include media-breakpoint-up(lg) {
    .leaderboard {
        width:970px;
        height:250px;
        &:before{
            content:"970x250";
        }
    }
}
