.drawer {
    position: fixed;
    top:0;
    height:100%;
    width:$sidebar-width;

    background: $sidebar-background;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;

    &.left {
        left:-$sidebar-width;
    }
    &.right{
        right:-$sidebar-width;
    }

    &.left.open {
        left:0;
    }
    &.right.open {
        right:0;
    }
    .menu {
        margin:0 0 0 15px;
        float:left;
    }
    .nav-item {
        display:block!important;
        .nav-link {
            padding:0.5rem 0;
        }
        .social {
            border-top:$border-default;
            margin-top:1rem;
            padding: 0.5rem 0;
            display: flex;
            justify-content: space-between;
            width:($sidebar-width - 30);
            .btn-sm {
                font-size: 1.75rem;
                width:2.75rem;
            }
        }


    }

    .nav-item.dropdown {
        display:none!important;
    }
}
.drawer-inner {
    height:100%;
    color:white;

    > button {
        padding:0.75rem 1rem;
        line-height:1em;
        font-size:1em;
        margin:0.5rem 1rem 0;
        float:right;
    }
}
