.drawer {
    position: fixed;
    top:0;
    height:100%;
    width:$sidebar-width;
    left:-$sidebar-width;
    background: rgba(0,0,0,0.6);
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    &.open {
        left:0;
    }

    .nav-item {
        display:block!important;
    }

    .nav-item.dropdown {
        display:none!important;
    }
}
.drawer-inner {
    height:100%;
    color:white;

    #drawer-close {
        float:right;
    }
}
