/*nav */

.navbar {
    .navbar-toggler {
        z-index: 1030;
    }
    .logo {
        text-align: center;
        margin:0 auto;
        .navbar-brand {
            margin-right:0;
        }
    }
}
.navbar.open {
    transform:translate3d(260px,0,0)
}
