<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1">
                <p>PC Gamer is the global authority on PC games. We’ve been covering PC gaming for over 20 years, and continue that legacy today with worldwide print editions and around-the-clock news, features, esports coverage, hardware testing and game reviews on PCGamer.com, as well as major yearly events including the PC Gaming Show and the PC Gamer Weekender in London (2017 tickets are on sale now!). </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link " href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Terms and Conditions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Privacy Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cookies Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Advertise with Us</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
