{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <meta name="description" content="Hasf">
    <script src="http://localhost:8000/main.bundle.js"></script>
  </head>
  <body>
    {{> header}}
    <h1>title</h1>
    {{> body}}
    {{> footer}}
  </body>
</html>
