{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <meta name="description" content="Hasf">
    {{#if globals.production}}
    <link href="main.bundle.css" rel="stylesheet"></head>
    {{else}}
      <script src="http://localhost:8000/main.bundle.js"></script>
    {{/if}}
  <body>

    {{> header}}
    <h1>title</h1>
    {{> body}}
    {{> footer}}
    {{#if globals.production}}
      <script type="text/javascript" src="main.bundle.js"></script>
    {{/if}}
</body>
</html>
